In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import sys
# print(sys.executable)

In [3]:
file=pd.read_csv("ecommerce_sales_analysis.csv")
df=pd.DataFrame(file)
print(df)

     product_id  product_name        category   price  review_score  \
0             1     Product_1        Clothing  190.40           1.7
1             2     Product_2  Home & Kitchen  475.60           3.2
2             3     Product_3            Toys  367.34           4.5
3             4     Product_4            Toys  301.34           3.9
4             5     Product_5           Books   82.23           4.2
..          ...           ...             ...     ...           ...
995         996   Product_996  Home & Kitchen   50.33           3.6
996         997   Product_997  Home & Kitchen  459.07           4.8
997         998   Product_998          Sports   72.73           1.3
998         999   Product_999          Sports  475.37           1.2
999        1000  Product_1000            Toys  225.77           2.1

     review_count  sales_month_1  sales_month_2  sales_month_3  sales_month_4  \
0             220            479            449             92            784
1             903             21            989            861            863
2             163            348            558            567            143
3             951            725            678             59             15
4             220            682            451            649            301
..            ...            ...            ...            ...            ...
995           494            488            359            137            787
996           701             18            906            129             78
997           287            725            109            193            657
998           720            196            191            315            622
999           114            890            903            983            769

     sales_month_5  sales_month_6  sales_month_7  sales_month_8  \
0              604            904            446            603
1              524            128            610            436
2              771            409            290            828
3              937            421            670            933
4              620            293            411            258
..             ...            ...            ...            ...
995            678            970            282            155
996             19            110            403            683
997            215            337            664            476
998            854            122             65            938
999            134            704            648            400

     sales_month_9  sales_month_10  sales_month_11  sales_month_12
0              807             252             695             306
1              176             294             772             353
2              340             667             267             392
3               56             157             168             203
4              854             548             770             257
..             ...             ...             ...             ...
995             57             575             634             393
996            104             858             729             474
997            265             344             888             654
998            521             268              60             394
999            495             839             611             110

[1000 rows x 18 columns]

In [ ]:
info= df.info()
# print(info)

In [4]:
# most_common_product = df["product_name"].value_counts()
# print(most_common_product)


repeated= (df.groupby("category")["product_name"].value_counts().groupby(level=0).head(1))
print(repeated)

u=df['category'].unique()
print(u)

category        product_name
Books           Product_106     1
Clothing        Product_1       1
Electronics     Product_102     1
Health          Product_105     1
Home & Kitchen  Product_104     1
Sports          Product_101     1
Toys            Product_1000    1
Name: count, dtype: int64
['Clothing' 'Home & Kitchen' 'Toys' 'Books' 'Electronics' 'Health'
 'Sports']

In [5]:
monthly_sales_cols = [f"sales_month_{i}" for i in range(1, 13)]
df["total_sales"] = df[monthly_sales_cols].sum(axis=1)
print(df[["total_sales"]])

# Average 
df["average_monthly_sales"] = df["total_sales"] / 12
print(df[["product_id", "product_name", "total_sales", "average_monthly_sales"]])

     total_sales
0           6421
1           6027
2           5580
3           5022
4           6094
..           ...
995         5515
996         4511
997         5527
998         4546
999         7486

[1000 rows x 1 columns]
     product_id  product_name  total_sales  average_monthly_sales
0             1     Product_1         6421             535.083333
1             2     Product_2         6027             502.250000
2             3     Product_3         5580             465.000000
3             4     Product_4         5022             418.500000
4             5     Product_5         6094             507.833333
..          ...           ...          ...                    ...
995         996   Product_996         5515             459.583333
996         997   Product_997         4511             375.916667
997         998   Product_998         5527             460.583333
998         999   Product_999         4546             378.833333
999        1000  Product_1000         7486             623.833333

[1000 rows x 4 columns]

In [9]:
review_score=df.nlargest(5,"review_score")[["product_name","category","review_score"]]
# print(review_score)
review_score_by_category=df.groupby("category")["review_score"].mean()
print(review_score_by_category)

category
Books             3.096753
Clothing          2.952143
Electronics       3.143478
Health            3.005036
Home & Kitchen    3.035200
Sports            3.091503
Toys              2.870861
Name: review_score, dtype: float64

In [10]:
# Top 5 products by total sales
top_products = df.nlargest(5, "total_sales")[["product_name", "category", "total_sales"]]
print("Top 5 Products by Total Sales:")
print(top_products)

Top 5 Products by Total Sales:
    product_name     category  total_sales
223  Product_224  Electronics         9151
285  Product_286     Clothing         8921
733  Product_734       Health         8914
904  Product_905       Sports         8783
179  Product_180       Sports         8775

In [11]:
# Total sales per category 
category_sales = df.groupby("category")["total_sales"].sum().sort_values(ascending=False) 
print("\nTotal Sales by Category:") 
print(category_sales)

Total Sales by Category:
category
Books             938229
Toys              917101
Sports            916371
Electronics       845120
Health            834414
Clothing          826536
Home & Kitchen    742141
Name: total_sales, dtype: int64

In [74]:
# Average review score per category
category_reviews = df.groupby("category")["review_score"].mean().sort_values(ascending=False)
print("\nAverage Review Score by Category:")
print(category_reviews)

Average Review Score by Category:
category
Electronics       3.143478
Books             3.096753
Sports            3.091503
Home & Kitchen    3.035200
Health            3.005036
Clothing          2.952143
Toys              2.870861
Name: review_score, dtype: float64

In [ ]:
# Chart 1 Total sales per category
plt.figure(figsize=(8,5))
category_sales.plot(kind='bar', color='skyblue')
plt.title("Total Sales by Category", fontsize=14)
plt.ylabel("Total Sales", fontsize=12)
plt.xlabel("Category", fontsize=12)
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

In [ ]:
# Top 5 products by total sales
plt.figure(figsize=(8,5))
plt.bar(top_products["product_name"], top_products["total_sales"], color='orange')
plt.title("Top 5 Products by Total Sales", fontsize=14)
plt.ylabel("Total Sales", fontsize=12)
plt.xlabel("Product Name", fontsize=12)
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

In [ ]:
# Chart 3: Review score distribution by category
plt.figure(figsize=(8,5))
df.boxplot(column="review_score", by="category", grid=False)
plt.title("Review Score Distribution by Category", fontsize=14)
plt.ylabel("Review Score", fontsize=12)
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

In [ ]:
# Sum sales for each month across all products
monthly_sales = df[[f"sales_month_{i}" for i in range(1, 13)]].sum()

plt.figure(figsize=(8,5))
monthly_sales.plot(kind='bar', color='skyblue')
plt.title("Total Sales by Month", fontsize=14)
plt.xlabel("Month")
plt.ylabel("Sales")
plt.xticks(ticks=range(12), labels=[f"Month {i}" for i in range(1, 13)], rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
# Group by category, then sum monthly sales
category_monthly_sales = df.groupby("category")[[f"sales_month_{i}" for i in range(1, 13)]].sum().T

category_monthly_sales.plot(figsize=(10,6))
plt.title("Monthly Sales by Category", fontsize=14)
plt.xlabel("Month")
plt.ylabel("Sales")
plt.legend(title="Category", bbox_to_anchor=(1.05, 1), loc='upper left')
plt.tight_layout()
plt.show()

In [ ]:
# plt.figure(figsize=(6,5))
# plt.scatter(df["review_score"], df["total_sales"], alpha=0.6, color='purple')
# plt.title("Review Score vs Total Sales", fontsize=14)
# plt.xlabel("Review Score")
# plt.ylabel("Total Sales")
# plt.tight_layout()
# plt.show()

# # Correlation
# review_sales_corr = df["review_score"].corr(df["total_sales"])
# print(f"Correlation between Review Score and Sales: {review_sales_corr:.2f}")